#  Object Oriented Programming (OOP)

<img src="profile_manoelgadi.png" width=100 height=100 align="right">

Author: Prof. Manoel Gadi

Contact: mfalonso@faculty.ie.edu

Teaching Web: http://mfalonso.pythonanywhere.com

Last revision: 27/June/2021

---

## Difference between Procedure Oriented and  Object Oriented Programming!

* Procedural programming creates a step by step program that  guides the application through a sequence of instructions. Each  instruction is executed in order.
* Procedural programming also focuses on the idea that all  algorithms are executed with functions and data that the  programmer has access to and is able to change.
* Object-Oriented programming is much more similar to the way  the real world works; it is analogous to the human brain. Each  program is made up of many entities called objects.
* Instead, a message must be sent requesting the data, just like  people must ask one another for information; we cannot see  inside each other’s heads.


__del something__ # (1) It is __procedural programming__ (PP)

__del(something)__ # (2) It is __functional programming__ (FP)

__something.del()__ # (3) It is __object oriented programming__ (OOP)

3 different paradigms, and Python is 90% (3 - OOP), 9% (2 - FP) and some bizarre cases it is (1 - PP) like in del my_dict[key]!!!

The following is a method that can only be applied to strings so lower(a) makes no sense because lower(10) would fail:

In [1]:
a = ' BiG MuG '
a.lower()

' big mug '

In [2]:
a.upper()

' BIG MUG '

In [3]:
a.strip()

'BiG MuG'

Chainning methods as the returned object if from the same type as the original

In [4]:
type(a), type(a.strip())

(str, str)

In [5]:
a.strip().upper()

'BIG MUG'

In [6]:
a.strip().upper().split(' ')

['BIG', 'MUG']

Using join to turn the list back into a string

In [7]:
';'.join(a.strip().upper().split(' '))

'BIG;MUG'

## The rule of thumb in Python for methods vs. functions
__A function can be applied to one or more type__ of things (objects), while __methods are specific and can only be applied to one type__, “things” (objects) of one given type (one given class)

In [8]:
import random as rd
frog_tuple = ('L','L','L','','R','R','R')
frog_list = ['L','L','L','','R','R','R']

In [9]:
def randomize_frogs(frogs):
    """
    Randomizes the order of the frogs without altering the original list / tuple types
     Input: List / Tuple of elements
     Output: New List / Tuple of elements in random order
    """
    if type(frogs) not in (list,tuple):
        print('Error: El tipo de entrada tiene que ser lista o tupla')
        return(None)
    t = True if type(frogs) == tuple else False    
    frogs = list(frogs).copy()
    for x in range(len(frogs)):
        rd1 = x
        rd2 = rd.randint(0,6)
        frogs[rd1],frogs[rd2] = frogs[rd2],frogs[rd1]
    # if t == True:
    #     return(tuple(lista))
    # else:
    #     return(lista)
    return(tuple(frogs) if t else frogs)

Note that if we send a tuple the function returns a tuple

In [10]:
frog_tuple_res = randomize_frogs(frog_tuple)
type(frog_tuple_res),frog_tuple_res

(tuple, ('R', 'R', 'L', 'L', '', 'L', 'R'))

Note that if we send a tuple the list returns a list

In [11]:
frog_list_res = randomize_frogs(frog_list)
type(frog_list_res),frog_list_res

(list, ['L', 'R', '', 'L', 'R', 'L', 'R'])

Therefore, this is a clear candidate to remain a function.

# Classes
<img src="classes1.png" width=500 align="center">

## Using a Class to Make Many Objects

A class is like a cookie cutter that can be used many times to make many cookies. There is only one cookie cutter, but can be used to make many cookies. Cookies are objects and each one has its own individuality because each one is made out of a different section of dough. Different cookies may have different characteristics, even though they follow the same basic pattern. For example, different cookies can have different candy sprinkles or frosting, or be backed for different times.

Cookies can be created. And cookies can be destroyed (just ask Cookie Monster). But destroying cookies does not affect the cookie cutter. It can be used again if there is dough left.

A big cookie jar might require many cookies made with many different cookie patterns (stars, hearts, squares, gingerbread androids...) A big cookie (such as a gingerbread house) might be built out of many smaller cookies of several different types. 

<img src="cookieDough.gif" width=500 align="center">

## Object (Instance of a Class)

<img src="classes2.png" width=500 align="center">

## Features of OOP

* Ability to simulate real-world event much more effectively
* Code is reusable thus less code may have to be written
* Data becomes active
* Better able to create GUI (graphical user interface) applications
* Programmers are able to produce faster, more accurate and better-  written applications

# The four major principles of object orientation are:
* Encapsulation - Attributes (variables) and Methods (functions) belong to the single object and can only be used/applied to that particular object.
* Data Abstraction - "shows" only essential attributes and "hides" unnecessary information.
* Inheritance - the super power of creating a new class with more attributes or methods by extending another, example creating your own Pandas Dataframe ;-)
* Polymorphism - the ability of an object to take on many forms - For example, lets say we have a class Animal that has a method sound() . Since this is a generic class so we can't give it a implementation like: Roar, Meow, Oink etc. We had to give a generic message.

# What is an Object..?
* Objects	are	the	basic	run-time	entities	in	an	object-oriented system.
* They may represent a person, a place, a bank account, a table of  data or any item that the program must handle.
* When	a	program	is	executed	the	objects	interact	by	sending messages to one another.
* Objects have two components: Data (i.e., attributes) / Behaviors (i.e., methods)

## Let's create a class

In [12]:
class Dog :
    # class attribute
    is_hairy = True
    bark_counter = 0
    # constructor
    def __init__ (self, name):
        # instance attribute
        self.name = name
    # method
    def bark (self):
        self.bark_counter += 1
        return( "Wuff" )

### Self (the object itself calling the method)

<img src="classes3b.png" width=500 align="center">

In [13]:
bello = Dog( "bello" )

In [14]:
paris = Dog( "paris" )

In [15]:
print(bello.name)

bello

In [16]:
print(paris.name)

paris

Note that methods (functions) and attribules (variables) belong to each object.

In [17]:
bello.bark(), bello.bark_counter

('Wuff', 1)

In [18]:
bello.bark(), bello.bark_counter

('Wuff', 2)

In [19]:
bello.bark(), bello.bark_counter

('Wuff', 3)

In [20]:
paris.bark(), paris.bark_counter

('Wuff', 1)

In [21]:
paris.bark(), paris.bark_counter

('Wuff', 2)

In [22]:
class Cat :
    # method overloading
    def miau (self, times= 1 ):
        print( "miau " * times)

In [23]:
fifi = Cat()

In [24]:
fifi.miau()

miau

In [25]:
fifi.miau( 5 )

miau miau miau miau miau

# Full Example:

In [26]:
class Dog :
    """ Blueprint of a dog """
    # class variable shared by all instances
    species = [ "canis lupus" ]
    def __init__ (self, name, color) :
        self.name = name
        self.state = "sleeping"
        self.color = color
    def command (self, x) :
        if x == self.name:
            self.bark( 2 )
        elif x == "sit" :
            self.state = "sit"
        else :
            self.state = "wag tail"
    def bark (self, freq) :
        for i in range(freq):
            print( "[" + self.name + "]: Woof!" )

In [27]:
bello = Dog( "bello" , "black" )
alice = Dog( "alice" , "white" )
print(bello.color) # black
print(alice.color) # white
bello.bark( 1 ) # [bello]: Woof!
alice.command( "sit" )
print( "[alice]: " + alice.state)
# [alice]: sit
bello.command( "no" )
print( "[bello]: " + bello.state)
# [bello]: wag tail
alice.command( "alice" )
# [alice]: Woof!
# [alice]: Woof!
bello.species += [ "wulf" ]
print(len(bello.species)
== len(alice.species)) # True (!)

black
white
[bello]: Woof!
[alice]: sit
[bello]: wag tail
[alice]: Woof!
[alice]: Woof!
True

---
## You can create classes “on the fly” and use them as logical units to store complex data types.

In [28]:
class Employee() :
    pass

employee = Employee()
employee.salary = 122000
employee.firstname = "alice"
employee.lastname = "wonderland"
print(employee.firstname + " " + employee.lastname + " " + str(employee.salary) + "$" )

alice wonderland 122000$

## Adding attributes & methods to a Pandas DataFrame

In [29]:
import pandas as pd
df = pd.DataFrame()

In [30]:
df.myatribute = 'Manoel'

In [31]:
df.myatribute

'Manoel'

In [32]:
type(df)

pandas.core.frame.DataFrame

# BUG

In [33]:
import pandas as pd
df = pd.read_csv("anorexia.csv")

In [34]:
df.group.value_counts()

1    29
2    26
3    17
Name: group, dtype: int64

The following can be considered a "bug" in pandas because the result is very poorly understood.

In [35]:
df.mode()

     ID  group  prewt  postwt  difwt
0   101    1.0   80.5    81.4  -10.2
1   102    NaN   83.3     NaN   -0.7
2   103    NaN   86.0     NaN   -0.1
3   104    NaN    NaN     NaN    3.9
4   105    NaN    NaN     NaN    NaN
..  ...    ...    ...     ...    ...
67  313    NaN    NaN     NaN    NaN
68  314    NaN    NaN     NaN    NaN
69  315    NaN    NaN     NaN    NaN
70  316    NaN    NaN     NaN    NaN
71  317    NaN    NaN     NaN    NaN

[72 rows x 5 columns]

## Let's solve it using some pandas options

In [36]:
import numpy as np
df.mode().T.replace(np.nan,"")

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
ID,101.0,102.0,103.0,104.0,105.0,106.0,107.0,108.0,109.0,110.0,...,308.0,309.0,310.0,311.0,312.0,313.0,314.0,315.0,316.0,317.0
group,1.0,,,,,,,,,,...,,,,,,,,,,
prewt,80.5,83.3,86.0,,,,,,,,...,,,,,,,,,,
postwt,81.4,,,,,,,,,,...,,,,,,,,,,
difwt,-10.2,-0.7,-0.1,3.9,,,,,,,...,,,,,,,,,,

In [37]:
def mode(self):
    return self.mode().T.replace(np.nan,"")

## Functional Programming

In [38]:
mode(df)

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
ID,101.0,102.0,103.0,104.0,105.0,106.0,107.0,108.0,109.0,110.0,...,308.0,309.0,310.0,311.0,312.0,313.0,314.0,315.0,316.0,317.0
group,1.0,,,,,,,,,,...,,,,,,,,,,
prewt,80.5,83.3,86.0,,,,,,,,...,,,,,,,,,,
postwt,81.4,,,,,,,,,,...,,,,,,,,,,
difwt,-10.2,-0.7,-0.1,3.9,,,,,,,...,,,,,,,,,,

## Object Oriented Programming - Adding Methods on the fly
reference: https://stackoverflow.com/questions/972/adding-a-method-to-an-existing-object-instance

In [39]:
df.mode2 = mode.__get__(df)

In [40]:
df.mode2()

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
ID,101.0,102.0,103.0,104.0,105.0,106.0,107.0,108.0,109.0,110.0,...,308.0,309.0,310.0,311.0,312.0,313.0,314.0,315.0,316.0,317.0
group,1.0,,,,,,,,,,...,,,,,,,,,,
prewt,80.5,83.3,86.0,,,,,,,,...,,,,,,,,,,
postwt,81.4,,,,,,,,,,...,,,,,,,,,,
difwt,-10.2,-0.7,-0.1,3.9,,,,,,,...,,,,,,,,,,

## More Advanced Solution - Creating our own class with a DF inside

In [41]:
import pandas as pd    
class CustomDF():
    def  __init__(self, filename):
        self.data = pd.read_csv(filename)
    def mode(self):
        return self.data.mode().T.replace(np.nan,"")
    def set_df(self, df):
        self.data = df
    def get_df(self):
        return self.data

In [42]:
csdf = CustomDF("anorexia.csv")

In [43]:
type(csdf)

__main__.CustomDF

In [44]:
csdf.mode()

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
ID,101.0,102.0,103.0,104.0,105.0,106.0,107.0,108.0,109.0,110.0,...,308.0,309.0,310.0,311.0,312.0,313.0,314.0,315.0,316.0,317.0
group,1.0,,,,,,,,,,...,,,,,,,,,,
prewt,80.5,83.3,86.0,,,,,,,,...,,,,,,,,,,
postwt,81.4,,,,,,,,,,...,,,,,,,,,,
difwt,-10.2,-0.7,-0.1,3.9,,,,,,,...,,,,,,,,,,

In [45]:
csdf.set_df(df)

In [46]:
csdf.mode()

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
ID,101.0,102.0,103.0,104.0,105.0,106.0,107.0,108.0,109.0,110.0,...,308.0,309.0,310.0,311.0,312.0,313.0,314.0,315.0,316.0,317.0
group,1.0,,,,,,,,,,...,,,,,,,,,,
prewt,80.5,83.3,86.0,,,,,,,,...,,,,,,,,,,
postwt,81.4,,,,,,,,,,...,,,,,,,,,,
difwt,-10.2,-0.7,-0.1,3.9,,,,,,,...,,,,,,,,,,

In [47]:
df2 = csdf.get_df()

In [48]:
type(df2)

pandas.core.frame.DataFrame

In [49]:
df2.mode()

     ID  group  prewt  postwt  difwt
0   101    1.0   80.5    81.4  -10.2
1   102    NaN   83.3     NaN   -0.7
2   103    NaN   86.0     NaN   -0.1
3   104    NaN    NaN     NaN    3.9
4   105    NaN    NaN     NaN    NaN
..  ...    ...    ...     ...    ...
67  313    NaN    NaN     NaN    NaN
68  314    NaN    NaN     NaN    NaN
69  315    NaN    NaN     NaN    NaN
70  316    NaN    NaN     NaN    NaN
71  317    NaN    NaN     NaN    NaN

[72 rows x 5 columns]

## The most Advanced Solution - Creating our own class with a DF inside

## Class
We will great initial code, which extends Pandas DataFrame in a magical way turning our own class into like-Pandas:


class ExtendedDataframe(pd.DataFrame):
    #Initializing the inherited pd.DataFrame
    def __init__(self, *args, **kwargs):
        super().__init__(*args,**kwargs)
    
    @property
    def _constructor(self):
        def func_(*args,**kwargs):
            df = ExtendedDataframe(*args,**kwargs)
            return df
        return func_

In [69]:
class ExtendedDataframe(pd.DataFrame):
    """
    Complete and correct way to extend the properties of Dataframes!
    """

    #Initializing the inherited pd.DataFrame
    def __init__(self, *args, **kwargs):
        super().__init__(*args,**kwargs)
    
    @property
    def _constructor(self):
        def func_(*args,**kwargs):
            df = ExtendedDataframe(*args,**kwargs)
            return df
        return func_

    # your functions start from here!
    def fixed_mode(self):
        return self.mode().T.replace(np.nan,"")

In [70]:
import pandas as pd
df = pd.read_csv("anorexia.csv")
df.mode()

     ID  group  prewt  postwt  difwt
0   101    1.0   80.5    81.4  -10.2
1   102    NaN   83.3     NaN   -0.7
2   103    NaN   86.0     NaN   -0.1
3   104    NaN    NaN     NaN    3.9
4   105    NaN    NaN     NaN    NaN
..  ...    ...    ...     ...    ...
67  313    NaN    NaN     NaN    NaN
68  314    NaN    NaN     NaN    NaN
69  315    NaN    NaN     NaN    NaN
70  316    NaN    NaN     NaN    NaN
71  317    NaN    NaN     NaN    NaN

[72 rows x 5 columns]

In [71]:
xdf = ExtendedDataframe(df)
xdf.fixed_mode()

,0,1,2,3,4,5,6,7,8,9,...,62,63,64,65,66,67,68,69,70,71
ID,101.0,102.0,103.0,104.0,105.0,106.0,107.0,108.0,109.0,110.0,...,308.0,309.0,310.0,311.0,312.0,313.0,314.0,315.0,316.0,317.0
group,1.0,,,,,,,,,,...,,,,,,,,,,
prewt,80.5,83.3,86.0,,,,,,,,...,,,,,,,,,,
postwt,81.4,,,,,,,,,,...,,,,,,,,,,
difwt,-10.2,-0.7,-0.1,3.9,,,,,,,...,,,,,,,,,,

In [72]:
xdf.mode()

     ID  group  prewt  postwt  difwt
0   101    1.0   80.5    81.4  -10.2
1   102    NaN   83.3     NaN   -0.7
2   103    NaN   86.0     NaN   -0.1
3   104    NaN    NaN     NaN    3.9
4   105    NaN    NaN     NaN    NaN
..  ...    ...    ...     ...    ...
67  313    NaN    NaN     NaN    NaN
68  314    NaN    NaN     NaN    NaN
69  315    NaN    NaN     NaN    NaN
70  316    NaN    NaN     NaN    NaN
71  317    NaN    NaN     NaN    NaN

[72 rows x 5 columns]

## Exercise part 1 - create a class named Company with the following attributes:
* nif: company fiscal number
* company_name: Company Name
* CNAE: Business Sector
* p10000: Total Assets / Total activos
* p20000: Own Capital / Patrimonio neto
* p31200: Short Term Debt / Deuda a corto plazo
* p32300: Long Term Debt / Deuda a largo plazo
* p40100_40500: Sales Turnover (Ingresos de Explotación) + Other sales (Otros Ingresos)
* p40800: Amortization (Amortización)
* p49100: Profit (Resultado del ejercicio)

In [1]:
class Company():
    def __init__(self, nif, company_name, CNAE, p10000,p20000,p31200,p32300,p40100_40500,p40800,p49100):
        self.nif=nif
        self.company_name=company_name
        self.CNAE=CNAE
        self.p10000 = p10000
        self.p20000 = p20000
        self.p31200 = p31200
        self.p32300 = p32300
        self.p40100_40500 = p40100_40500
        self.p40800 = p40800
        self.p49100 = p49100
    def get_ebitda_margin(self):
        return (self.p49100 + abs(self.p40800))/self.p40100_40500
    def get_total_debt_ebitda(self):
        return (self.p31200+self.p32300)/(self.p49100 + abs(self.p40800))
    def get_leverage(self):
        return (self.p10000-self.p20000)/self.p20000

Then, a constructor to set those values. Test with:

In [3]:
c1 = Company('A28015865', # nif: company fiscal number
        'Telefonica, SA', # company_name: Company Name
        6420,             # CNAE: Sector de la Empresa
        115066000.0,      # p10000: Total Assets / Total activos
        26618000.0,       # p20000: Own Capital / Patrimonio neto
        46332000.0,       # p31200: Short Term Debt / Deuda a corto plazo
        9414000.0,        # p32300: Long Term Debt / Deuda a largo plazo
        -9396000.0,       # p40800: Amortization (Amortización)
        52455000.0,       # p40100_40500: Sales Turnover (Ingresos de Explotación) + Other sales (Otros Ingresos)
        6791000.0)        # p49100: Profit (Resultado del ejercicio)

## Part 2 - create 3 methods

* 1: get_ebitda_margin: Ebitda / Turn over (Ventas)
* calculate and return: (p49100 + abs(p40800)) / p40100_40500
* test using: e.get_ebitda_margin()


* 2: get_total_debt_ebitda: Total Debt / Ebita 
* calculate and return: (p31200+p32300)/(p49100 + abs(p40800))
* test using: e.get_total_debt_ebitda()


* 3: get_leverage: Financial leveraging / apalancamiento financiero 
* calculate and return: (p10000-p20000)/p20000
* test using: e.get_leverage()

In [4]:
print(c1.get_ebitda_margin())
print(c1.get_total_debt_ebitda())
print(c1.get_leverage())

-6.305449127288208
0.9409242818080545
3.3228642272146667

---

# 07 - Rating Case Study - Model development part 3

## Creanting a code prof_manoel_gadi_model_dev_support.py with the code we are going to be using in many different projects.

In [ ]:
#IMPORTING LIBRARIES
import pandas as pd
import statsmodels.api as sm

# READING THE DEVELOPEMENT DATAFRAME!
output_var = 'target_increase_in_risk'
list_of_bucket_fields = ['Market Cap_group', 'Enterprise Value_group', 'Trailing P/E_group', 'Forward P/E_group', 'PEG Ratio_group', 'Price/Sales_group', 'Price/Book_group', 'Enterprise Value/Revenue_group', 'Enterprise Value/EBITDA_group', 'Profit Margin_group', 'Operating Margin_group', 'Return on Assets_group', 'Return on Equity_group', 'Revenue_group', 'Revenue Per Share_group', 'Quarterly Revenue Growth_group', 'Gross Profit_group', 'EBITDA_group', 'Net Income Avi to Common_group', 'Diluted EPS_group', 'Quarterly Earnings Growth_group', 'Total Cash_group', 'Total Cash Per Share_group', 'Total Debt_group', 'Total Debt/Equity_group', 'Current Ratio_group', 'Book Value Per Share_group', 'Operating Cash Flow_group', 'Levered Free Cash Flow_group', '52-Week Change_group', 'S&amp;P500 52-Week Change_group', '52 Week High_group', '52 Week Low_group', '50-Day Moving Average_group', '200-Day Moving Average_group', 'Avg Vol (3 month)_group', 'Avg Vol (10 day)_group', 'Shares Outstanding_group', 'Float_group', '% Held by Insiders_group', '% Held by Institutions_group', 'Shares Short_group', 'Short Ratio_group', 'Short % of Float_group', 'Shares Short (prior month)_group', 'Forward Annual Dividend Rate_group', 'Forward Annual Dividend Yield_group', 'Trailing Annual Dividend Rate_group', 'Trailing Annual Dividend Yield_group', '5 Year Average Dividend Yield_group', 'Payout Ratio_group']

df_dev = pd.read_excel("yahoo_ticker_new_beta_20180306.xlsx")
y_dev = df_dev[output_var]
X_dev = df_dev[list_of_bucket_fields]

# READING THE OUT-OF-TIME DATAFRAME!
df_oot = pd.read_excel("oot_yahoo_ticker_new_beta_20180226.xlsx")
y_oot = df_oot[output_var]
X_oot = df_oot[list_of_bucket_fields]

In [ ]:
from prof_manoel_gadi_model_dev_support import *

In [ ]:
dict_trained_model = train_method(X_dev, y_dev,X_oot,y_oot,"LR")
print(dict_trained_model)

In [ ]:
method_list = ['LR','LASSO', 'DT', 'LOGR','RIDGE','RFR','RFC','GBR']

In [ ]:
# We develop the model in df_dev and test is on df_oot.
data = []
for method in method_list:
    dict_trained_model[method] = train_method(X_dev, y_dev,X_oot,y_oot,method)
#    print (dict_trained_model[method])
    data.append([method, dict_trained_model[method]['accuracy_train'], dict_trained_model[method]['accuracy_test'], dict_trained_model[method]['gini_train'], dict_trained_model[method]['gini_test'], dict_trained_model[method]['ks_train'], dict_trained_model[method]['ks_test']])

df_result_summary = pd.DataFrame(data,columns=['method','accuracy_train', 'accuracy_test', 'gini_train', 'gini_test', 'ks_train', 'ks_test'])

In [ ]:
df_result_summary

# Creating a customized class using Pandas.DataFrame internally - csdf

In [ ]:
import prof_manoel_gadi_model_dev_support_class as prof

In [ ]:
csdf = prof.CustomDF()

In [ ]:
csdf.set_df(df_dev, df_oot)

In [ ]:
csdf.train_method(inputvars=['Market Cap_group', 'Enterprise Value_group', 'Trailing P/E_group', 'Forward P/E_group', 'PEG Ratio_group', 'Price/Sales_group', 'Price/Book_group', 'Enterprise Value/Revenue_group', 'Enterprise Value/EBITDA_group', 'Profit Margin_group', 'Operating Margin_group', 'Return on Assets_group', 'Return on Equity_group', 'Revenue_group', 'Revenue Per Share_group', 'Quarterly Revenue Growth_group', 'Gross Profit_group', 'EBITDA_group', 'Net Income Avi to Common_group', 'Diluted EPS_group', 'Quarterly Earnings Growth_group', 'Total Cash_group', 'Total Cash Per Share_group', 'Total Debt_group', 'Total Debt/Equity_group', 'Current Ratio_group', 'Book Value Per Share_group', 'Operating Cash Flow_group', 'Levered Free Cash Flow_group', '52-Week Change_group', 'S&amp;P500 52-Week Change_group', '52 Week High_group', '52 Week Low_group', '50-Day Moving Average_group', '200-Day Moving Average_group', 'Avg Vol (3 month)_group', 'Avg Vol (10 day)_group', 'Shares Outstanding_group', 'Float_group', '% Held by Insiders_group', '% Held by Institutions_group', 'Shares Short_group', 'Short Ratio_group', 'Short % of Float_group', 'Shares Short (prior month)_group', 'Forward Annual Dividend Rate_group', 'Forward Annual Dividend Yield_group', 'Trailing Annual Dividend Rate_group', 'Trailing Annual Dividend Yield_group', '5 Year Average Dividend Yield_group', 'Payout Ratio_group'],
                  targetvar = "target_increase_in_risk", 
                  method="LR")

In [ ]:
csdf.train_methods(inputvars=['Market Cap_group', 'Enterprise Value_group', 'Trailing P/E_group', 'Forward P/E_group', 'PEG Ratio_group', 'Price/Sales_group', 'Price/Book_group', 'Enterprise Value/Revenue_group', 'Enterprise Value/EBITDA_group', 'Profit Margin_group', 'Operating Margin_group', 'Return on Assets_group', 'Return on Equity_group', 'Revenue_group', 'Revenue Per Share_group', 'Quarterly Revenue Growth_group', 'Gross Profit_group', 'EBITDA_group', 'Net Income Avi to Common_group', 'Diluted EPS_group', 'Quarterly Earnings Growth_group', 'Total Cash_group', 'Total Cash Per Share_group', 'Total Debt_group', 'Total Debt/Equity_group', 'Current Ratio_group', 'Book Value Per Share_group', 'Operating Cash Flow_group', 'Levered Free Cash Flow_group', '52-Week Change_group', 'S&amp;P500 52-Week Change_group', '52 Week High_group', '52 Week Low_group', '50-Day Moving Average_group', '200-Day Moving Average_group', 'Avg Vol (3 month)_group', 'Avg Vol (10 day)_group', 'Shares Outstanding_group', 'Float_group', '% Held by Insiders_group', '% Held by Institutions_group', 'Shares Short_group', 'Short Ratio_group', 'Short % of Float_group', 'Shares Short (prior month)_group', 'Forward Annual Dividend Rate_group', 'Forward Annual Dividend Yield_group', 'Trailing Annual Dividend Rate_group', 'Trailing Annual Dividend Yield_group', '5 Year Average Dividend Yield_group', 'Payout Ratio_group'],
                  targetvar = "target_increase_in_risk")

In [ ]:
csdf.df_result_summary

In [ ]:
csdf.dict_trained_model

In [ ]:
csdf.dict_trained_model['GBR']

In [ ]:
csdf.dict_trained_model['GBR']['model']

In [ ]:
csdf.dict_trained_model['GBR']['model'].predict(df_oot[['Market Cap_group', 'Enterprise Value_group', 'Trailing P/E_group', 'Forward P/E_group', 'PEG Ratio_group', 'Price/Sales_group', 'Price/Book_group', 'Enterprise Value/Revenue_group', 'Enterprise Value/EBITDA_group', 'Profit Margin_group', 'Operating Margin_group', 'Return on Assets_group', 'Return on Equity_group', 'Revenue_group', 'Revenue Per Share_group', 'Quarterly Revenue Growth_group', 'Gross Profit_group', 'EBITDA_group', 'Net Income Avi to Common_group', 'Diluted EPS_group', 'Quarterly Earnings Growth_group', 'Total Cash_group', 'Total Cash Per Share_group', 'Total Debt_group', 'Total Debt/Equity_group', 'Current Ratio_group', 'Book Value Per Share_group', 'Operating Cash Flow_group', 'Levered Free Cash Flow_group', '52-Week Change_group', 'S&amp;P500 52-Week Change_group', '52 Week High_group', '52 Week Low_group', '50-Day Moving Average_group', '200-Day Moving Average_group', 'Avg Vol (3 month)_group', 'Avg Vol (10 day)_group', 'Shares Outstanding_group', 'Float_group', '% Held by Insiders_group', '% Held by Institutions_group', 'Shares Short_group', 'Short Ratio_group', 'Short % of Float_group', 'Shares Short (prior month)_group', 'Forward Annual Dividend Rate_group', 'Forward Annual Dividend Yield_group', 'Trailing Annual Dividend Rate_group', 'Trailing Annual Dividend Yield_group', '5 Year Average Dividend Yield_group', 'Payout Ratio_group']])